<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
       <!--指定应用名称-->
    <dubbo:application name="health_service"/>
    <!--指定暴露的服务端口，不指定m默认20880-->
    <dubbo:protocol name="dubbo" port="20880"/>
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>
    <!--批量扫描，发布服务-->
    <dubbo:annotation package="com.heima.service"/>
    <!--导入事务管理-->
    <import resource="classpath:applicationContext-tx.xml"/>
</beans>